<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SoftIT</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div>
        <div>
            <img src="~/Content/Images/Logo_1000x1000.png" height="100" />
        </div>
        <div>
            <ul>
                <li>@Html.ActionLink("Kezdőlap", "Index", "Home")</li>
                <li>@Html.ActionLink("Kapcsolat", "Contact", "Home")</li>
                <li>@Html.ActionLink("Rendelés", "About", "Home")</li>
                <li>@Html.ActionLink("Projektjeim", "About", "Home")</li>
                <li>@Html.ActionLink("Alkalmazottak", "About", "Home")</li>
                <li>@Html.ActionLink("Projektek", "About", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SoftIT Bt.</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
